<!doctype html>
<html>
<title>Beaudeluxe</title>
<style>
@media only screen and (max-width: 600px) {
.main {
	width: 320px !important;
}
.top-image {
	width: 100% !important;
}
.inside-footer {
	width: 320px !important;
}
table[class="contenttable"] { 
	width: 320px !important;
	text-align: left !important;
}
td[class="force-col"] {
	display: block !important;
}
 td[class="rm-col"] {
	display: none !important;
}
.mt {
	margin-top: 15px !important;
}
*[class].width300 {width: 255px !important;}
*[class].block {display:block !important;}
*[class].blockcol {display:none !important;}
.emailButton{
	width: 100% !important;
}
.emailButton a {
	display:block !important;
	font-size:18px !important;
}
}
</style>
<body link="#3d3d3d" vlink="#3d3d3d" alink="#3d3d3d">
<table class=" main contenttable" align="center" style="font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0;font-family: Arial, sans-serif;color: #555559;background-color: white;font-size: 16px;line-height: 26px;width: 600px;">
<tr>
	<td class="border" style="border-collapse: collapse;border: 1px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
	<table style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
		<tr>
			<td colspan="4" valign="top" class="image-section" style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #ff4e49;font-family: Arial, sans-serif;font-size: 16px;line-height: 0;background-color: #fff;border-bottom: 2px solid #d89767;text-align: center;background: #ffefe8;padding: 20px 0px;">
				<a href="#"><img class="top-image" src="https://webservices.beaudeluxe.com/assets/images/logo.png" style="line-height: 1;width: auto; height: 100px;padding: 0px 20px;" alt="Beaudeluxe"></a>
			</td>
		</tr>
		<tr>
			<td valign="top" class="side title" style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;">
				<table style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;"> 
					<tr>
						<td class="text" style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
						<div class="mktEditable" id="main_text" style="font-family: Arial, sans-serif;">
							{{body}}
							<p style="font-family: Arial, sans-serif;font-size: 14px;"><b>Regards,<br>Team BeauDeluxe</b></p>
						</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr bgcolor="#fff" style="border-top: 2px solid #d89767;">
			<td valign="top" class="footer" style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #ff4e49;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background: #fff;text-align: center;">
				<table style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
					<tr>
						<td class="inside-footer" align="center" valign="middle" style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 12px;line-height: 16px;vertical-align: middle;text-align: center;width: 580px;letter-spacing:0.5px;">
							<div id="address" class="mktEditable" style="font-family: Arial, sans-serif;display: inline-block;width: 100%;margin-top: 10px;">
								<b>Meydan, Dubai, UAE</b><br> </b>
							</div>
							<div style="display: inline-block;width: 100%;margin-top: 10px;">
								
								<a href="tel:+971 50 596 7800" style="font-family: Arial, sans-serif;color: #3d3d3d;text-decoration:none;display: inline-block;line-height: 23px;margin-right: 10px;"><img src="https://webservices.beaudeluxe.com/assets/images/mob.png" style="height: 23px;float: left; margin-right: 4px;" > <span> +971 50 596 7800</span></a>
								<a href="mailto:info@beaudeluxe.com" style="font-family: Arial, sans-serif;color: #3d3d3d;text-decoration:none;display: inline-block;line-height: 25px;"	><img src="https://webservices.beaudeluxe.com/assets/images/email.png" style="height: 23px;float: left;margin-right: 6px;" > <span> info@beaudeluxe.com</span></a>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="4" valign="top" class="image-section" style="-webkit-text-size-adjust: none;font-family: Arial, sans-serif;line-height: 10px;text-align: center;background: #d89767;">
				<p style="color: #ffffff;font-size: 11px;margin: 10px;">Note: This is a system generated email please do not reply on this.</p>
			</td>
		</tr>
	</table>
	</td>
</tr>
</table>
</body>
</html>